html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	background: #ffffff;
}

.hidden {
	display: none;
}

.brightness {
    background-color: white;
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;
}

.image {
	margin: 0 auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image2 {
	margin: 0 auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
	border: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image h3 {
	position: relative; left: 55px; bottom: 5px;
	width: 600px;
}

.image h2 {
	position: relative; left: 55px; bottom: 5px;
	width: 800px;
}

#bootstrap-overrides h1 { /* 100+1=101 priority score, yay! */
  line-height: 1;
  color: inherit;
}



#page-container {
	width: "100%";
}

#page-container-wide {
	width: "100%";
	overflow: scroll;
}

#left {
	margin: 0 auto;
	float: left;
	max-width: 170px;
	height: 1350px;
	background: #140F1E;
border:0px solid black;




}


#sidebar {
	clear: both;
  float: left;
  width: 170px;
	height: 1350px;
	border:0px solid black;




	-webkit-box-shadow:0px 1px 15px #222;
	 -moz-box-shadow:0px 1px 15px #222;
	 box-shadow:0px 1px 15px #222;
}
#sidebar ul { margin: 0; padding: 30px;   position: relative; top: 100px; border:0px solid black;



}
#sidebar li { float: auto;  }
#sidebar li a {
	display: block;
	height: 0px !important;
	margin-top: 20px;
	padding: 50px 0 0 0 ;
	background-repeat: no-repeat;
	border:0px solid black;




}
#sidebar li a:hover {
	background-position: -112px 0;
	border:0px solid black;




}


#sidebar li#table,
#sidebar li#table a { width: 110px; background-image: url(../images/nav/tabletxt.gif);}
#sidebar li#fixtures,
#sidebar li#fixtures a {width: 110px; background-image: url(../images/nav/fixturestxt.gif); }
#sidebar li#players,
#sidebar li#players a { width: 110px; background-image: url(../images/nav/playerstxt.gif);  }
#sidebar li#news,
#sidebar li#news a { width: 110px; background-image: url(../images/nav/newstxt.gif); }
#sidebar li#playerstats,
#sidebar li#playerstats a { width: 110px; background-image: url(../images/nav/stats.gif); }
#sidebar li#availability,
#sidebar li#availability a { width: 110px; background-image: url(../images/nav/game.gif); }


#sidebar .padding {
	padding: 25px;
}

#team {
	margin-top: 20px;
	clear: both;
	background: #140F1E;
  float: left;
  width: 170px;
	height: 117px;
	background-image: url("../images/general/team.gif");
	border:0px solid black;
}

#teamtitle {
	float: left;
	height: 60px;
	width: 800px;
	border:0px solid black;



	padding: 0;
}

#main-nav {
	height: 50px;
	width: "100%";
	background: #140F1E;
	border:0px solid black;
	-webkit-box-shadow: 0 4px 6px -4px #222;
  -moz-box-shadow: 0 6px 6px -4px #222;
  box-shadow: 0 4px 6px -4px #222;
}

#main-nav .padding {
	padding: 0px;
}

#main-nav ul { margin: 0; padding: 0; position: relative; top: 20px;}
#main-nav li { float: left;}
#main-nav li a {
	padding: 10px;
	background-repeat: no-repeat;
	text-decoration: none;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	border:0px solid black;
}


#main-nav li a:hover {
	color: #F622F6;
}

#single {
	float: left;
	height: 600px;
	width: 900px;
	border:0px solid black;




	margin: 25px;
	padding: 0;
}

#upper {
	float: left;
	height: 300px;
	width: 900px;
	border:0px solid black;




	margin: 15px;
	padding: 0;
}

#playerList {
	overflow-y: scroll;
	height: 400px;
	border:0px solid black;




}

#bottom {
	float: left;
	height: 300px;
	width: 900px;
	border:0px solid black;




	margin: 25px;
}

#footer {
	float: left;
	height: 100px;
	width: 900px;
	border:0px solid black;




}

#leaguetable {
	float: left;
	font-size: 18px;
	height: 600px;
	width: 900px;
	border:0px solid black;
	margin: 15px;
	padding: 0;
}

#leaguetable table {padding:30px;	}
#leaguetable th {background-color: #88B4E1;}

#fixture {
	height: 100px;
	width: 780px;
	font-size: 16px;
	border:0px solid black;
}

#fixturemonth {
	height: 50px;
	width: 780px;
	float: left;
	background-color: #88B4E1;
	border:0px solid black;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 4px 6px -6px #222;
}

#fixturemonth h1 { float:right; color: white}

#titlebar{
	float: left;
	padding: 5px 10px;
	height: 35px;
	width: 750px;
	border:0px solid black;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 6px 6px -6px #222;
}

#titlebar1 {
	height: 50px;
	width: 100%;
	float: left;
	background-color: #88B4E1;
	border:0px solid black;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 4px 6px -6px #222;
}
#titlebar1 h1 { float:left; color: white}

#titlebar2{
	float: left;
	padding: 5px 10px;
	height: 60px;
	width: 750px;
	border:0px solid black;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 8px 6px -6px #222;
}
#titlebar2 a:hover {
	color: red;
}

#titlebar2Header{
	float: left;
	height: 33px;
	width: 500px;
	position: relative; left: 10px;
	border:0px solid black;
}

#titlebarHeader{
	float: left;
	height: 33px;
	width: 500px;
	position: relative; left: 0px;
	border:0px solid black;
}

#titlebarIcon{
	float: left;
	height: 50px;
	width: 50px;
	position: relative; left: 0px;
	border:0px solid black;
}

#editbar{
	margin: 0; padding: 0;
	float: right;
	height: 33px;
	width: 100px;
	border:0px solid black;
}
#editbar ul { margin: 0; padding: 0; position: relative; top: 16px;}
#editbar li { float: right;  }
#editbar li#edit,
#editbar li#edit a { width: 15px; background-image: url(../images/icons/editpencil.gif); background-repeat: no-repeat; text-decoration: none;}
#editbar li#delete,
#editbar li#delete a { width: 15px; background-image: url(../images/icons/bin.png); background-repeat: no-repeat; text-decoration: none;}
#editbar li#save,
#editbar li#save a { width: 15px; background-image: url(../images/icons/tick1.png); background-repeat: no-repeat; text-decoration: none;}
#editbar li#report,
#editbar li#report a { width: 20px; background-image:  url(../images/icons/report.png); background-repeat: no-repeat; text-decoration: none;}


#fixtureLeft{
	float: left;
	padding: 5px 10px;
	margin: 0 auto;
	max-width: 370px;
	height: 200x;
	border:0px solid black;
}

#fixtureRight{
	text-align: right;
	float: right;
	padding: 5px 10px;
	margin: 0 auto;
	max-width: 370px;
	height: 100x;
	border:0px solid black;
}

#fixtureFull{
	text-align: left;
	float: left;
	font-size: 14px;
	padding: 5px 10px;
	margin: 0 auto;
	max-width: 700px;
	height: 800px;
	border:0px solid black;
}

#date{
	padding: 0px 0px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	color: #4F4F4F;
	background-color: white;
	border:0px solid black;
}

#avail {
	text-align: center;
	float: left;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 16px;
	color:#1F1F1F;
	margin: 0 auto;
	border:0px solid #C4C4C4;
	overflow: scroll;
}

#availAlt {
	text-align: center;
	background-color: #DDDDDD;
	float: left;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 14px;
	color: #666666;
	margin: 0 auto;
	border:0px solid black;
}

#homeaway {
	background-color: #140F1E;
	color: #4F4F4F;
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 16px;
	max-width: 72px;
	padding-top: 20px;
	height: 60px;
	border-right: 1px solid  #4F4F4F;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

#availHead {
	background-color:#140F1E;
	color: #4F4F4F;
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 14px;
	height: 150px;

}

#gameHead {
	background-color: #140F1E;
	color: 	#e1e1ef	;
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	max-width: 73px;
	height: 70px;
	padding-top: 10px;
}


#availRow {
  width: 72px;
	height: 40px;
  margin: 0px;
	border:0px solid black;
	padding-top: 5px;
	margin: 5px auto;
	border-bottom: 1px solid #C4C4C4;
	border-right: 0px solid #C4C4C4;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#availRowName {
	text-align: left;
  width: 150px;
	height: 40px;
  margin: 0px;
  margin: 5px auto;
	border-bottom: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#statsBarleft {
	height: 50px;
	width: 440px;
	padding-left: 10px;
	float: left;
	background-color: white;
	border:0px solid black;
}

#statsBarright1{
	height: 50px;
	width: 370px;
	text-align: right;
	float: left;
	background-color: white;
	border:0px solid black;
}

#statsBarright2 {
	height: 50px;
	width: 78x;
	float: right;
	background-color: white;
	border:0px solid black;
}

#statsBar {
	height: 50px;
	width: 900px;
	padding-left: 10px;
	float: left;
	background-color: #88B4E1;
	border: 1px solid black;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 6px 6px -6px #222;
}

#statsBar a {
	text-decoration: none;
}

#statstable {
	float: left;
	font-size: 16px;
	width: 900px;
	border:0px solid black;
	padding: 10px;
}

#statstable table{ border-collapse:collapse; }
#statstable td, th{ border:1px solid #999; }
#statstable .col-1{ width:200px; }
#statstable .col-2{ width:300px; }
#statstable .dark{ background-color:#c6d0d0; }
#statstable .light{ background-color:#eeeeee;}
#statstable	.row {overflow: hidden; width: 900px;}
#statstable .col {float: left; width: 400px; }

.accordion__container {
    background: #eee;
    border: 1px solid #ccc;
    padding: 20px;
}
.accordion__tab {
    background: #aaa;
    color: #fff;
    border-bottom: 1px solid white;
}
.accordion__tab-title {
    background: #888;
    padding: 5px;
    cursor: pointer;
}
.accordion__tab-content {
    background: #999;
    padding: 20px;
}




#tabs{}

#tabs ul {
    list-style: none;
    padding: 0;
    margin: 	0;
}
#tabs li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}

#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}
