<div ng-app="myApp" ng-controller="availabilityController as ac">
<table>
    <tr>
      <td ng-repeat="game in ac.games" valign="top">
          <div ng-show="true" flex-xs="" flex-gt-xs="100" flex="100" layout="column">
            <md-card  style="width:150" ng-if="game.AWAYTEAM.indexOf('Chippenham') >= 0" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch="">
              <md-toolbar class="md-primary md-hue-1" style="text-align:center">A<br/>{{ac.getDate(game.FIXTUREDATE)}}</md-toolbar>
                <md-title style="text-align:center;height:40;font-size:18;"><b>{{game.HOMETEAM}}</b></md-title>
                <md-card-content>
                  <table style="border-collapse: collapse;" border="0">
                    <tr>
                        <td  ng-if="ac.authSvc.canEdit()"  align="center" colspan="3" >
                          <md-checkbox class="md-primary" ng-model="game.locked" aria-label="valid" ng-change="ac.updateFixture(game)">Locked
                            <md-tooltip>
                              Lock to avoid changing stats for game
                            </md-tooltip>
                          </md-checkbox>
                        </td>
                        <td  ng-if="!ac.authSvc.canEdit()"  align="center" colspan="3" >
                          <div ng-show="game.locked">
                            <md-checkbox class="md-primary" ng-model="game.locked" aria-label="valid" disabled ng-change="ac.updateFixture(game)">Locked
                            <md-tooltip>
                              This fixtures has been locked, please contect the team manager if you wish to change.
                            </md-tooltip>
                          </div>
                        </td>
                    <tr>
                    <tr ng-repeat="player in ac.players">
                      <td ng-click="ac.toggleAvilability(player.IDNumber, game)"  style="padding:0; margin:0;" align="left">
                        <div style="space-between:0" ng-switch="ac.getAvailability(player.IDNumber, game)">
                          <div ng-switch-when="A">
                            <md-button aria-label="menu" class="md-fab md-mini"  style="background-color:#FBC02D;height:35px;width:35px;line-height:35px"><b>A</b></md-button>
                          </div>
                          <div ng-switch-when="N">
                            <md-button aria-label="menu" class="md-fab md-mini" style="background-color:#9E9E9E;height:35px;width:35px;line-height:35px"><b>N</b></md-button>
                          </div>
                          <div ng-switch-when="S">
                            <md-button aria-label="menu" class="md-fab md-mini" style="background-color:#4CAF50;height:35px;width:35px;line-height:35px"><b>S</b></md-button>
                          </div>
                          <div ng-switch-when="X">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#9E9E9E;height:35px;width:35px;line-height:35px"><b>X</b></md-button>
                          </div>
                          <div ng-switch-when="P">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#4CAF50;height:35px;width:35px;line-height:35px"><b>P</b></md-button>
                          </div>
                          <div ng-switch-when="£">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#4CAF50;height:35px;width:35px;line-height:35px"><b>£</b></md-button>
                          </div>
                          <div ng-switch-when="I">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#9E9E9E;height:35px;width:35px;line-height:35px"><b>I</b></md-button>
                          </div>
                          <div ng-switch-default style="padding:0">
                            <md-button aria-label="menu" class="md-fab  md-mini" style="background-color:white;color:black;height:35px;width:35px;line-height:35px" ><b>-</b></md-button>
                          </div>
                        </div>
                      </td>
                      <td  ng-class="ac.getAvailability(player.IDNumber, game)">{{player.Player}}</td>
                    </tr>
                  </table>
              </md-card-content>
              </md-card>
              <md-card  style="width:150" ng-if="game.AWAYTEAM.indexOf('Chippenham') < 0" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch="">
                <md-toolbar style="text-align:center">H<br/>{{ac.getDate(game.FIXTUREDATE)}}</md-toolbar>
                <md-title style="text-align:center;height:35;font-size:18;"><b>{{game.AWAYTEAM}}</b></md-title>
                <md-card-content>
                  <table style="border-collapse: collapse;" border="0">
                    <tr>
                        <td  ng-if="ac.authSvc.canEdit()"  align="center" colspan="3" >
                          <md-checkbox class="md-primary" ng-model="game.locked" aria-label="valid" ng-change="ac.updateFixture(game)">Locked
                            <md-tooltip>
                              Lock to avoid changing stats for game
                            </md-tooltip>
                          </md-checkbox>
                        </td>
                        <td  ng-if="!ac.authSvc.canEdit()"  align="center" colspan="3" >
                          <div ng-show="game.locked">
                            <md-checkbox class="md-primary" ng-model="game.locked" aria-label="valid" disabled ng-change="ac.updateFixture(game)">Locked
                            <md-tooltip>
                              This fixtures has been locked, please contect the team manager if you wish to change.
                            </md-tooltip>
                          </div>
                        </td>
                    <tr>
                    <tr ng-repeat="player in ac.players" > <!-- ng-click="ac.toggleAvilability($index+1, game)">-->
                      <td ng-click="ac.toggleAvilability(player.IDNumber, game)"  style="padding:0; margin:0;" align="left">
                        <!--                                  <img class="md-user-avatar" src="images/people/players/player{{player.SquadNo}}.aspx" style="width:25px"/>-->
                        <!--                                      <img id="followbutton"  ng-src="images/icons/{{ac.getAvailability(player.IDNumber, game)}}.png" ng-style="{position:'relative', bottom:'10px'}"/>-->
                        <div style="space-between:0" ng-switch="ac.getAvailability(player.IDNumber, game)">
                          <div ng-switch-when="A">
                            <md-button aria-label="menu" class="md-fab md-mini"  style="background-color:#FBC02D;height:35px;width:35px;line-height:35px"><b>A</b></md-button>
                          </div>
                          <div ng-switch-when="N">
                            <md-button aria-label="menu" class="md-fab md-mini" style="background-color:#9E9E9E;height:35px;width:35px;line-height:35px"><b>N</b></md-button>
                          </div>
                          <div ng-switch-when="S">
                            <md-button aria-label="menu" class="md-fab md-mini" style="background-color:#4CAF50;height:35px;width:35px;line-height:35px"><b>S</b></md-button>
                          </div>
                          <div ng-switch-when="X">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#9E9E9E;height:35px;width:35px;line-height:35px"><b>X</b></md-button>
                          </div>
                          <div ng-switch-when="P">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#4CAF50;height:35px;width:35px;line-height:35px"><b>P</b></md-button>
                          </div>
                          <div ng-switch-when="£">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#4CAF50;height:35px;width:35px;line-height:35px"><b>£</b></md-button>
                          </div>
                          <div ng-switch-when="I">
                            <md-button aria-label="menu" class="md-fab md-mini " style="background-color:#9E9E9E;height:35px;width:35px;line-height:35px"><b>I</b></md-button>
                          </div>
                          <div ng-switch-default style="padding:0">
                            <md-button aria-label="menu" class="md-fab  md-mini" style="background-color:white;color:black;height:35px;width:35px;line-height:35px" ><b>-</b></md-button>
                          </div>
                        </div>
                      </td>
                      <td  ng-class="ac.getAvailability(player.IDNumber, game)">{{player.Player}}</td>
                    </tr>
                  </table>
              </md-card-content>
            </md-card>
            </div>
        </td>
    </tr>
</table>
</div>
