<div ng-cloak="" ng-app="myApp" ng-controller="mainController as mc" >
  <md-content class="md-padding" layout-xs="column" layout="row" >
    <div flex layout="column">
      <md-content>

        <md-card  md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch style="min-width:450px">
          <md-card-content>
            <md-tabs md-selected="1" md-center-tabs md-swipe-content md-dynamic-height md-border-bottom>
              <md-tab label="Help">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Getting Started with Teamapp</h1>
                  <p>Teamapp was created by coaches and managers to help with coaching and manging football teams from team selection to team finances the Teamapp tool allows you manage your team and also and share information with parents and players.</p>
                  <p>The app has two types of users:</p>
                  <h3><strong>Managers and Coaches</strong></h3>
                  <p>Managers and coaches can use Teamapp to manage fixtures, player availabiltiy and team selection. The app also allows you to collect statistics and record the team finances from subs and fees.</p>
                  <p>Teamapp will allow you to easily edit your homepage information so that you can update anyone who has access to the application.</p>
                  <p>Teamapp also has in built messaging, allowing any registered user, players, managers, parents to either chat or send provate messages. &nbsp;</p>
                  <h3><strong>Players and Parents</strong></h3>
                  <p>Players and Parents can register to keep updated on their team, view details of upcoming fixtures, team selections, match reports and more. Anyone that hat registered can join in and chat woith other team members.</p>
                </md-content>
              </md-tab>
              <md-tab  class="md-primary"  label="TeamApp">
                <md-content class="md-padding">
                  <div layout="column" ng-switch="mc.auth.isAuthenticated()">
                    <div layout="column">
                        <div layout="row" layout-align="center center">
                          <h1>TEAMAPP</h1>
                        </div>
                        <div ng-switch-when="false" layout="row" layout-align="center center">
                            <h3>Welcome to TEAMAPP, the managers and coaches tool for team management.</h3>
                        </div>
                        <div ng-switch-when="true" layout="column" layout-align="center center" style="text-align:center">
                          <div>
                            <h3>Welcome back {{mc.properties.username}}! So... what next? </h3>
                          </div>
                          <div>
                            <div style="text-align:center">
                                <h3>If your team has already been set up, then go straight to your team pages by selecting your club and team below.<h3>
                            </div>
                          </div>
                          <div layout="row" layout-align="end center">
                            <md-input-container>
                              <label>Club</label>
                              <md-select ng-model="clubselect">
                                <md-option ng-value="club.clubId" ng-repeat="club in mc.clubs" >{{ club.clubName }}</md-option>
                              </md-select>
                            </md-input-container>
                            &nbsp;|&nbsp;
                            <md-input-container>
                              <label>Team</label>
                              <md-select ng-model="teamselect">
                                <md-option ng-value="team.teamId" ng-repeat="team in mc.teams" >{{ team.teamName }}</md-option>
                              </md-select>
                            </md-input-container>
                            <md-input-container>
                              <md-button class=" md-raised md-mini md-primary" ng-click="mc.setTeam(clubselect, teamselect)" ng-href="/index">Go</md-button>
                            </md-input-container>
                          </div>
                        </div>
                    </div>
                    <div ng-switch-when="false">
                      <div layout="row" layout-align="end center" ng-app="myApp" ng-controller="authCtl as ac">
                        <p>Please login first or register for an account to use your teamapp.</p>&nbsp;
                        <md-button class=" md-raised md-mini md-primary" ng-click="ac.dologin()" >Login</md-button>
                        <md-button class=" md-raised md-mini md-primary" ng-href="/userRegistration">New User</md-button>
                      </div>
                    </div>
                    <div ng-switch-when="true">

                      <div>
                        <div layout="row">
                          <div style="text-align:center">
                              <h3>To create a brand new team or club then click on the "New Team" button below and create a new team.  </h3>
                          </div>
                          <div layout="row" layout-align="end start">
                            <md-input-container>
                              <md-button class=" md-raised md-mini md-primary"  ng-href="/register">New Team/Club</md-button>
                            </md-input-container>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="About">
                <md-content class="md-padding">
                  <div layout="column">

                    <div layout="column" layout-align="center center">
                      <h4>TEAMAPP v 0.1 alpha</h4>
                      <div style="text-align:center">
                          <h4>The TEAMAPP application was has been created as an opensource project. All source code is available at: https://github.com/gcolman/teamapp. All contributors are welcome to send pull requests. </h4>
                      </div>
                      <div style="text-align:center">
                          <h4>The app was created by Graeme Colman and is currently hosted on AWS on a small server intended for trial use only. This service is not guarenteed to be running as we are still in Alpha release of the software, however, we'll aim to make live updates to the site for future releases. <br/> If you have any questions or issues, then please get in touch or raise an issue in github at https://github.com/gcolman/teamapp/issues   </h4>
                      </div>
                    </div>

                  </div>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-card-content>
        </md-card>
      </md-content>
    </div>
  </md-content>
</div>
