<div ng-app="myApp" ng-controller="playersController as pc">
  <div layout="row" layout-align="center center">
    <md-button aria-label="add" class="md-raised md-primary" ng-click="pc.setPlayer(0)" href="/player""> Add Player</md-button>
  </div>
<div ng-repeat="player in pc.names" ng-cloak>
  <md-card  md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch style="min-width:450px">
      <md-card-content layout="row" layout-align="space-between">
        <div layout="row" ng-click="pc.setPlayer(player.IDNumber)" >
          <div layout="row">
            <div>
                <img class="md-user-avatar" src="images/people/players/player{{player.SquadNo}}.aspx" style="width:45px"/>
            </div>
            <div layout="column">
              <div style="font-size:22px">
                  &nbsp;{{player.Player}}&nbsp;<span style="font-size:18px">({{player.Position}})</span>
              </div>
              <div layout="row">
                <div>
                    &nbsp;Appearances:{{player.gameStats.Played}}
                </div>
                <div>
                    &nbsp;Goals:{{player.gameStats.Goals}}
                </div>
              </div>
            </div>
          </div>
      </div>
      <md-card-actions layout="row">

        <md-button aria-label="report" class="md-fab md-raised md-mini md-primary"  ng-click="pc.setPlayer(player.IDNumber)" href="/player" >
            <md-icon ng-style="{position:'relative', bottom:'-7px'}" class="material-icons md-light md-48"> description </md-icon>
            <md-tooltip md-direction="top">View player details</md-tooltip>
        </md-button>
        &nbsp;
          <md-button aria-label="remove" class="md-fab md-raised md-mini md-primary" ng-click="pc.deletePlayer($event, player.IDNumber)">
              <md-icon class="material-icons md-light md-48"> clear </md-icon>
              <md-tooltip md-direction="top">Remove this player</md-tooltip>
          </md-button>



      </md-card-actions>
      </md-card-content>

    </md-card>
</div>
</div>
