<div ng-app="myApp" ng-controller="registerController as rc" ng-cloak="" >
  <md-content class="md-padding" layout-xs="column" layout="row" >
    <div flex="60" layout="column">
      <md-content>

        <md-card  md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch style="min-width:450px">
          <md-card-content>
            <md-tabs md-center-tabs md-swipe-content md-dynamic-height md-border-bottom>
              <md-tab  class="md-primary"  label="Register a new Team">
                <md-content class="md-padding">
                  <div layout="column">
                    <div layout="column">
                        <div layout="row" layout-align="center center">
                          <h1>Team Registration</h1>
                        </div>
                        <div layout="row" layout-align="center center">
                            <p>You can register your new team here. Once you have registered you will receive a validation email with your team administrator username and password. Use these credentials to log into Teamapp and start managing your team!</p>
                        </div>
                    </div>
                    <div>
                      <div layout="row" layout-align="end center">
                        <p>Select your club ( or register a new club if you haven't already)</p>&nbsp;
                        <md-input-container>
                          <md-select aria-label="club" ng-model="rc.team.clubId">
                            <md-option ng-value="club.clubId" ng-repeat="club in rc.clubs">{{ club.clubName }}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                    </div>
                    <div layout="column">

                      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch="">


                        <md-card-header>
                          <md-card-title-text>
                            <span ng-if="authSvc.isAuthenticated()" class="md-title">Update team details</span>
                            <span ng-if="!authSvc.isAuthenticated()" class="md-title">Create team</span>
                          </md-card-title-text>
                        </md-card-header>
                        <md-card-content layout="row" layout-align="space-between">
                          <div layout="column">
                            <md-input-container>
                              <label>Team Name</label>
                                <md-icon class="material-icons md-light md-48"> face </md-icon>
                                <input ng-model="rc.team.teamName" required  type="text">
                            </md-input-container>
                            <md-input-container>
                              <label>Affiliate FA</label>
                              <md-icon class="material-icons md-light md-48"> person </md-icon>
                              <input ng-model="rc.team.teamFA" required  type="text">
                            </md-input-container>
                            <md-input-container>
                              <label>League</label>
                              <md-icon class="material-icons md-light md-48"> person </md-icon>
                              <input ng-model="rc.team.teamLeague"   type="text">
                            </md-input-container>
                            <div layout="row">
                              <md-input-container>
                                <label>Manager Name</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.team.teamManager" required  type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Coach 1 Name</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.team.teamCoach1"   type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Coach 2 Name</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.team.teamCoach2"   type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Coach 3 Name</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.team.teamCoach3"   type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Coach 4 Name</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.team.teamCoach4"   type="text">
                              </md-input-container>
                            </div>
                            <div>
                              <form name="myForm">
                                  <md-button class="md-raised md-primary" ngf-select ng-model="picFile" accept="image/*">Select club or team badge</md-button>
                                    <div >
                                      <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea" style="width:200">
                                          <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" style="width:200;height:150">  </img-crop>
                                      </div>
                                      <div>
                                          <img ng-src="{{croppedDataUrl}}" />
                                      </div>
                                    <span class="progress" ng-show="progress >= 0">
                                      <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                                    </span>
                                    <span ng-show="result">Upload Successful</span>
                                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                  </div>
                              </form>
                            </div>
                          </div>
                          <div layout="row" layout-align="end end">
                            <md-input-container>
                              <md-button class=" md-raised md-mini md-primary"  ng-click="rc.registerTeam(rc.team,croppedDataUrl)">Register</md-button>
                            </md-input-container>
                          </div>
                          </div>
                        </md-card-content>
                      </md-card>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Register a new Club">
                <md-content class="md-padding">
                  <div layout="column">
                    <div layout="column">
                        <div layout="row" layout-align="center center">
                          <h1>Club Registration</h1>
                        </div>
                        <div layout="row" layout-align="center center">
                            <p>You can register your club here. Once you have registered you will receive a validation email with your team administrator username and password. Use these credentials to log into Teamapp and start managing your team!</p>
                        </div>
                    </div>

                    <div layout="column">

                      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch="">


                        <md-card-header>
                          <md-card-title-text>
                            <span ng-if="authSvc.isAuthenticated()" class="md-title">Update club details</span>
                            <span ng-if="!authSvc.isAuthenticated()" class="md-title">Create Club</span>
                          </md-card-title-text>
                        </md-card-header>
                        <md-card-content layout="row" layout-align="space-between">
                          <div layout="column">
                            <md-input-container>
                              <label>Your email (you will receive registration login details)</label>
                                <md-icon class="material-icons md-light md-48"> face </md-icon>
                                <input ng-model="rc.club.clubAdminEmail" required  type="text">
                            </md-input-container>
                            <md-input-container>
                              <label>Club Name</label>
                                <md-icon class="material-icons md-light md-48"> face </md-icon>
                                <input ng-model="rc.club.clubName" required  type="text">
                            </md-input-container>
                            <md-input-container>
                              <label>Affiliate FA</label>
                              <md-icon class="material-icons md-light md-48"> person </md-icon>
                              <input ng-model="rc.club.clubFA" required  type="text">
                            </md-input-container>
                            <md-input-container>
                              <label>Club Address</label>
                              <md-icon class="material-icons md-light md-48"> person </md-icon>
                              <input ng-model="rc.club.address1" required  type="text">
                            </md-input-container>
                            <div layout="row">
                              <md-input-container>
                                <label>Address 2</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.address2" required  type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Address 3</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.address3"   type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Town</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.addressTown"   type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>County</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.addressCounty" required  type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Country</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.addressCountry" required type="text">
                              </md-input-container>
                              <md-input-container>
                                <label>Postcode</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.addressPostcode" required  type="text">
                              </md-input-container>
                            </div>

                            <div layout="row">
                              <md-input-container>
                                <label>Club Secretary</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.clubSecretary" required  type="text">
                              </md-input-container>
                              <md-input-container>
                                <label>Email</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.clubEmail"   type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Club Website</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.clubWebsite"   type="text">
                              </md-input-container>
                            </div>
                            <div layout="row">
                              <md-input-container>
                                <label>Club Colours</label>
                                <md-icon class="material-icons md-light md-48"> person </md-icon>
                                <input ng-model="rc.club.clubColours"   type="text">
                              </md-input-container>
                            </div>

                            <form name="myForm">
                                <md-button class="md-raised md-primary" ngf-select ng-model="picFile" accept="image/*">Select club badge</md-button>
                                  <div >
                                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea" style="width:200">
                                        <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" style="width:200;height:150">  </img-crop>
                                    </div>
                                    <div>
                                        <img ng-src="{{croppedDataUrl}}" />
                                    </div>
                                  <span class="progress" ng-show="progress >= 0">
                                    <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                                  </span>
                                  <span ng-show="result">Upload Successful</span>
                                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                </div>
                            </form>

                          </div>
                          <div layout="row" layout-align="end end">
                            <md-input-container>
                              <md-button class=" md-raised md-mini md-primary"  ng-click="rc.registerClub(rc.club,croppedDataUrl )">Register</md-button>
                            </md-input-container>
                          </div>
                          </div>
                        </md-card-content>
                      </md-card>
                  </div>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-card-content>
        </md-card>
      </md-content>
    </div>
  </md-content>
</div>
