<md-dialog aria-label="Help">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Teamapp Help</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:1600px;max-height:100px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Get Started">
          <md-content class="md-padding">
            <h1 class="md-display-2">Getting Started with Teamapp</h1>
            <p>Teamapp was created by coaches and managers to help with coaching and manging football teams from team selection to team finances the Teamapp tool allows you manage your team and also and share information with parents and players.</p>
            <p>The app has two types of users:</p>
            <h3><strong>Managers and Coaches</strong></h3>
            <p>Managers and coaches can use Teamapp to manage fixtures, player availabiltiy and team selection. The app also allows you to collect statistics and record the team finances from subs and fees.</p>
            <p>Teamapp will allow you to easily edit your homepage information so that you can update anyone who has access to the application.</p>
            <p>Teamapp also has in built messaging, allowing any registered user, players, managers, parents to either chat or send provate messages. &nbsp;</p>
            <h3><strong>Players and Parents</strong></h3>
            <p>Players and Parents can register to keep updated on their team, view details of upcoming fixtures, team selections, match reports and more. Anyone that hat registered can join in and chat woith other team members.</p>
          </md-content>
        </md-tab>
        <md-tab label="Your Profile">
          <md-content class="md-padding">
            <h1 class="md-display-2">Managing your profile</h1>
            How can I change my profile details?

            Once you have registerd, you can edit your profile by using wither the settings button in the main navigation bar at the top of the page, or by using the context menu dropdown on the left hand side of the page. Selecting the profile allows you to update any of your details and save them.

            How can I update my photo?

            If you want to change your avatar photo, then goto the settings page and simply upload a photo from your local computer.

            How do I link my profile to a team player?

            Linking your profile to a player profile is a job that your team manager must do. Send them a message and ask them to be linked.
          </md-content>
        </md-tab>
        <md-tab label="Chat & Mail">
          <md-content class="md-padding">
            <h1 class="md-display-2">Using the Chat and Mail Funtions</h1>
            <h3>Chat window</h3>
            <p>Chat and mail is really simple, just enter your chat message and press send. The chat message will appear in everyones chat window so that you can have a conversatoin.&nbsp;</p>
            <p>Remember to be polite and respectful, no one wants to be on the other side of a hurtful comment!</p>
            <h3>How do I send a private message?</h3>
            <p>You can send a private message to another teamapp user as long as you know their username.&nbsp;</p>
            <p>In the chat window simply start your message with &nbsp;the @ symbol follwoed by the username of the person you are messaging. e.g. @coach What time is the game on Saturday?</p>
            <h3>Reading a private message</h3>
            <p>If someone sends you a provate message, then it'll appear in your messages dropdown, accessed from the navigation bar across the top of the page.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </md-content>
        </md-tab>
        <md-tab label="Manage Team Page">
          <md-content class="md-padding">
            <h1 class="md-display-2">Managing your team homepage</h1>
            <h3>How do I change the news on the homepage?</h3>
            <p>&nbsp;A team administrator can update the news on the homepage. It's really easy! If you are assigned as an administrator, then you will see an "Edit" button on the top right hand corner of the news panel.&nbsp;</p>
            <p>&nbsp;</p>
            <p>Click on the button and then a popup will alow you to edit and save any news information that you want to appear on the home page.</p>
          </md-content>
        </md-tab>
        <md-tab label="Manage Games">
          <md-content class="md-padding">
            <h1 class="md-display-2">Managing games</h1>
            <h3>How do I manage the team's games?</h3>
            <p>&nbsp;A team administrator can manage your team's fixtures and games. It's really easy! If you are assigned as an administrator, then there are a number of things you can do.&nbsp;</p>
            <h3>How do I create a new fixture?</h3>
            <p>To create a new fixture, enter the fixtures page by clicking on the "Fixtures" icon on the left hand sidebar navigation. On the fixtures page, click on the "Add Fixture" button on the top of the page. Enter the fixture details and click on save. &nbsp;</p>
            <h3>&nbsp;</h3>
            <h3>Selecting a team for a fixture</h3>
            <p>Once you have created your fixture then you can select a team from your squad in two ways:</p>
            <h4>1 - Select your team using the player selection view</h4>
            <h4>&nbsp;<img src="images/help/teamSelection.png" alt="" width="600px"/></h4>
            <p>&nbsp;Initially, all players will be in the Available column as they are available to play. If a player is not available, then drag that player over to the "Not Available" colum on the right hand side of the pitch.&nbsp;</p>
            <p>To select a player to play, then drag that player either onto the pitch into a position or drag them onto the substitutes bench.</p>
            <p>The selections&nbsp;are saved automatically.&nbsp;</p>
            <p>Please note.</p>
            <p>&nbsp;- Moving a player in the player selection window, will update the player availabllity in the availability view.</p>
            <p>&nbsp;- If a fixture has been marked as "Locked" in the availability view, then you will not be able to edit the player selection in this view. If you want to change, then first unlock the fixture in the "Availability" view. &nbsp;</p>
            <h4>2- Enter your player availability&nbsp;</h4>
            <p>All player avaiability can be easily viewed and set in the "Availability" page of the application, selected from the side navigation menu.&nbsp;</p>
            <h3>&nbsp;<img src="images/help/availability.png" alt="" width="600px" /></h3>
            <p>Each fixture is listed in this view, with each player in the squad ready to be updated with their availability status.&nbsp;</p>
            <p><img src="images/help/c.png" alt="" />&nbsp;Initially all players will have no state&nbsp;This means that they have not responded to any availability requests.</p>
            <p><img src="images/help/N.png" alt="" />&nbsp;Click on the availability icon next to the player to set the state. Clicking one will set to "N" - Not available</p>
            <p><img src="images/help/A.png" alt="" />&nbsp;Click on the N icon to set the availability status to"A" - Available to be selectedfor the game</p>
            <p><img src="images/help/S.png" alt="" />&nbsp;Click on the A icon to set the availability status to"S" - Selected for the game</p>
            <p><img src="images/help/P.png" alt="" />&nbsp;Click on the S icon to set the availability status to"P" - The selected player played in the game</p>
            <p><img src="images/help/&pound;.png" alt="" />&nbsp;Click on the P icon to set the availability status to"&pound;" - The selected player played and Paid subs for the game</p>
            <p><img src="images/help/X.png" alt="" />&nbsp;Click on the &pound; icon to set the availability status to"X" - The player was selected but did not turn up for the game</p>
            <p><img src="images/help/I.png" alt="" />&nbsp;Click on the X icon to set the availability status to"I" - The player is not available through injury</p>
            <p>&nbsp;</p>
            <p><strong>Note - Setting the availability of the player will update the financial statistics including subs collected for each game.&nbsp;</strong>&nbsp;</p>
            <p>&nbsp;</p>
            <p>If you have played the game and updated the fixture, then you can lock the fixture details on the availability screen. At the top of the fixture check the "Fixed" clechbox. This will stop any accidental edits of the status that might impact the financial statistcs.&nbsp;</p>
            <h3>Edit a fixture</h3>
            <p>To create a new fixture, enter the fixtures page by clicking on the "Fixtures" icon on the left hand sidebar navigation. On the fixtures page then &nbsp;find the fixture you want to edit and click on the "Edit Fixture" button on the right hand side of the fixture.&nbsp;</p>
            <p>The fixture edit popup will give you access to edit that fixture. The following things can be edited:</p>
            <ul>
            <li>Update a fixture with results</li>
            <li>Adding Goalscorers</li>
            <li>Adding a match report</li>
            </ul>
            <p>&nbsp;</p>
            <h3>Removing a fixture</h3>
            <p>Fixtures can be removed if you have fixture admin rights.</p>
          </md-content>
        </md-tab>
        <md-tab label="Manage Players">
          <md-content class="md-padding">
            <h1 class="md-display-2">Managing your team homepage</h1>
            <p>.....</p>
          </md-content>
        </md-tab>
        <md-tab label="Manage Team">
          <md-content class="md-padding">
            <h1 class="md-display-2">Managing your team homepage</h1>
            <p>.....</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" >
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
