
<div  layout="column" layout-align="top center" >
<!--  <div style="text-align:center; padding:0px">
    <img src="images/general/team.gif" alt="" height="100" width="150">
  </div> -->
  <md-sidenav style="width:100" md-is-locked-open="$mdMedia('min-width: 1000px')">

      <md-list ng-show="$ctrl.auth.isAuthenticated() && $ctrl.properties.selectedTeam.teamId != undefined">
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column" style="text-align:center">
            <md-button  ng-href="/index" class="md-fab md-primary" aria-label="FAB" style="padding-top:15px">
              <md-tooltip md-direction="right">Team home page</md-tooltip>
              <md-icon class="material-icons md-light md-48"> home </md-icon>
            </md-button>
            <p>Home</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column" style="text-align:center">
            <md-button ng-href="/fixtures" class="md-fab md-primary" aria-label="FAB"  style="padding-top:15px">
              <md-tooltip md-direction="right">Team fixtures & results</md-tooltip>
              <md-icon class="material-icons md-light md-48"> date_range </md-icon>
            </md-button>
            <p>Fixtures</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column" style="text-align:center">
            <md-button ng-href="/players" class="md-fab md-primary" aria-label="FAB"  style="padding-top:15px">
              <md-tooltip md-direction="right">Squad details</md-tooltip>
              <md-icon class="material-icons md-light md-48"> group </md-icon>
            </md-button>
            <p>Squad</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column" style="text-align:center">
            <md-button ng-href="/availability" ng-click="main.view='availability_view'" class="md-fab md-primary" aria-label="FAB"  style="padding-top:15px">
              <md-tooltip md-direction="right">Player match availability</md-tooltip>
              <md-icon class="material-icons md-light md-48"> check_circle </md-icon>
            </md-button>
            <p>Availability</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column" style="text-align:center">
            <md-button ng-href="/stats" class="md-fab md-primary" aria-label="FAB"  style="padding-top:15px">
              <md-tooltip md-direction="right">Team statistics</md-tooltip>
              <md-icon class="material-icons md-light md-48"> insert_chart </md-icon>
            </md-button>
            <p>Stats</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column" style="text-align:center">
            <md-button ng-href="/admin" class="md-fab md-primary" aria-label="FAB"  style="padding-top:15px">
              <md-tooltip md-direction="right">Team Admin</md-tooltip>
              <md-icon class="material-icons md-light md-48"> insert_chart </md-icon>
            </md-button>
            <p>Team Admin</p>
          </div>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </div>
