<md-toolbar style="position:relative">
  <div layout="row">
              <div layout="row" flex ng-app="myApp" ng-controller="authCtl as auth" ng-switch="auth.isAuthenticated()">
                <md-menu>
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                        <md-icon class="material-icons md-light md-48"> dehaze </md-icon>
                      </md-button>
                      <md-menu-content width="4">
                        <md-menu-item>
                          <md-button>
                            <md-icon class=" md-primary "></md-icon>
                            <b>Context Menu</b>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-switch-when="false">
                          <md-button ng-click="auth.dologin()">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                            Login
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-switch-when="false">
                          <md-button  ng-href="/userRegistration">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                            New User Register
                          </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-switch-when="true">
                          <md-button ng-click="auth.logout()">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                             Logout
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-switch-when="true">
                          <md-button ng-click="$ctrl.toggleNotifications()">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                             Update Profile
                          </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-switch-when="true">
                          <md-button ng-href="index.html?view=news_view">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                             Home
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-switch-when="true">
                          <md-button ng-href="index.html?view=fixtures_view">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                             Fixtures
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-switch-when="true">
                          <md-button ng-href="index.html?view=players_view">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                             Squad
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-switch-when="true">
                          <md-button ng-href="index.html?view=availability_view">
                            <md-icon class="material-icons md-light md-48"> mode_edit </md-icon>
                             Availability
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                    <div flex="100" layout="row">
                      <div flex="70">
                        <span class="md-toolbar-tools">{{$ctrl.properties.clubName}} - {{$ctrl.properties.teamName}} {{$ctrl.properties.ageGroup}} {{$ctrl.properties.bg}} &nbsp;&nbsp;&nbsp;
                          <md-button ng-href="/" class="md-fab md-mini md-primary" style="padding-top:8px">
                            <md-icon  class="material-icons md-light md-48" > keyboard_return </md-icon>
                            <md-tooltip md-direction="right">change team</md-tooltip>
                          </md-button>
                        </span>
                      </div>
                    </div>
                        <span class="md-toolbar-tools">
                          <div ng-switch-when="true">
                            logged in as: <b> {{$ctrl.properties.username}} </b> |
                            <md-menu>
                                  <md-button  ng-href="/main" class="md-fab md-mini md-primary" aria-label="FAB" style="padding-top:8px" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                                      <md-icon  class="material-icons md-light md-48" > mail </md-icon>
                                      <md-tooltip md-direction="right">{{$ctrl.properties.username}} Inbox</md-tooltip>
                                    </md-button>
                                  <md-menu-content >
                                    <md-menu-item>
                                      <span ng-if="$ctrl.messageService.mailCollection.length <=0" tyle="min-height:25px;font-size:18px"><md-icon  class="material-icons md-light md-48" > mail </md-icon><b>{{$ctrl.properties.username}} - Inbox You have no messages.</b></span>
                                      <span ng-if="$ctrl.messageService.mailCollection.length >0" style="min-height:25px;font-size:18px"><md-icon  class="material-icons md-light md-48" > mail </md-icon><b>{{$ctrl.properties.username}} - Inbox ({{$ctrl.messageService.mailCollection.length}} messages)</b></span>
                                    </md-menu-item>
                                      <div ng-repeat="msg in $ctrl.messageService.mailCollection track by $index" >
                                        <md-card class="md-accent" >

                                            <md-card-header  layout="row" md-colors="::{backgroundColor: 'default-primary-400'}">
                                               <div flex="90">
                                                 <b>{{msg.from}}</b>({{$ctrl.formatDate(msg.date)}})
                                               </div>
                                               <div flex>
                                                    <md-icon ng-click="$ctrl.removeMessage(msg._id)" class="material-icons md-light md-48" > delete </md-icon>
                                               </div>
                                            </md-card-header>
                                               <div style="position:relative;width:400px;padding:10px;">{{msg.body}}</div>
                                             </div>
                                         </md-card>

                                      </md-menu-content>
                                      </md-menu>
                                        <span style="position:absolute;margin-left:-15px;margin-top:-10px;font-size:small">
                                          {{$ctrl.messageService.mailCollection.length}}
                                        </span>
                                           <md-button  ng-href="/userRegistration" class="md-fab md-mini md-primary" aria-label="FAB" style="padding-top:8px">
                                              <md-icon  class="material-icons md-light md-48" > settings </md-icon>
                                              <md-tooltip md-direction="right">settings</md-tooltip>
                                            </md-button>
                                            <md-button  ng-click="$ctrl.showHelp()" class="md-fab md-mini md-primary" aria-label="FAB" >
                                               <md-icon  class="material-icons md-light md-48" > help </md-icon>
                                               <md-tooltip md-direction="right">Help</md-tooltip>
                                             </md-button>
                                           <md-button  ng-href="/" ng-click="$ctrl.logout()" class="md-fab md-mini md-primary" aria-label="FAB" style="padding-top:8px">
                                              <md-icon  class="material-icons md-light md-48" > power_settings_new </md-icon>
                                              <md-tooltip md-direction="right">logout</md-tooltip>
                                            </md-button>
                                      </div>


                          </div>
                        </span>
                      <div>
                    </div
              </div>

    </div>
</md-toolbar>
